.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

build/
example/build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods/

macos/Flutter/ephemeral/
macos/Pods/

android/.gradle/
android/local.properties
android/key.properties
android/**/GeneratedPluginRegistrant.java

windows/flutter/ephemeral/
linux/flutter/ephemeral/

coverage/
.idea/
.vscode/
*.iml
*.ipr
*.iws

*.log

pubspec.lock

**/.DS_Store
